body {
  max-width: 800px;
}

nav {
  display: inline-block;
  font-size: 20px;
}

nav li {
  display: inline-block;
}
.navigation {
  background-color: rgb(67, 133, 95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.shopping-chart {
  background-color: rgb(93, 150, 93);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.shopping-chart h2 {
}
.products {
  display: flex;
  flex-direction: column;
  padding: 30px;
  display: flex;
  gap: 20px;
  float: left;

}
.shopping-interfaz{
  background-color: orange;
  height: 100cm;
  padding: 10px;
  font-size: 30px;
}
#precio{
  width: 180px;

}
#nombre{
  width: 180px;
}
#boton{
  width: 80px;
  background-color: green;
  color: white;
  font-size: 15px;
}
img{
  width: 30px;
  height: 30px;
}
